.container {
    position: relative;
    transition: all 0.5s ease;
    background: url('/assets/img/gray-color.png') repeat 50% 0%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: none;
}
