@font-face {
    font-family: 'Yinghei';
    src: url('../../public/assets/fonts/MYingHeiPRC-W4.eot');
    src:
        local('☺'),
        url('../../public/assets/fonts/MYingHeiPRC-W4.eot?#iefix') format('embedded-opentype'),
        url('../../public/assets/fonts/MYingHeiPRC-W4.woff') format('woff'),
        url('../../public/assets/fonts/MYingHeiPRC-W4.ttf') format('truetype');
    font-weight: normal;
}
