@use '../../../styles/mixins.scss' as mixins;
.drag_mask{
    position: absolute;
    left: 50%;  
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9;
    @include mixins.transformPixel(height, 100, 40, 40);
    @include mixins.transformPixel(width, 100, 40, 40);
}

.drag_mask img{
    will-change: transform;
    transition: all 0.1s linear;
}