@use "../../../../styles/mixins.scss" as mixins;

.item_box{
    width: 100%;
    flex: 1;
    display: flex;
    &_item{
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        &_inner{
            width: 100%;
            height: 100%;
            position: relative;
            background-color: #ffffff;
            @include mixins.transformPixel(border-radius, 30, 20, 10);
            &_front, &_reverse{
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: all .2s linear;
                backface-visibility: hidden;
                @include mixins.transformPixel(border-radius, 30, 20, 10);
                @include mixins.transformPixel(padding, 20, 10, 10);
                @include mixins.textShadow();
            }
            &_front{
                transform: translateX(-50%) translateY(-50%) rotateY(0deg);
            }
            &_reverse{
                transform: translateX(-50%) translateY(-50%) rotateY(180deg);
            }
        }
        &:hover .item_box_item_inner{
            .item_box_item_inner_front{
                transform: translateX(-50%) translateY(-50%) rotateY(180deg);
            }
            .item_box_item_inner_reverse{
                transform: translateX(-50%) translateY(-50%) rotateY(0deg);
            }
        }
    }
}
.large_box{
    .item_box_item{
        width: 100%;
    }
}

.link{
    height: 100%;
    width: 100%;
    @include mixins.df-aic-jcc();
    &_label{
        width: 100%;
        border: 1px solid var(--themeColor);
        border-radius: 30px;
        text-align: center;
        @include mixins.transformPixel(padding-top, 5, 3, 2);
        @include mixins.transformPixel(padding-bottom, 5, 3, 2);
        @include mixins.fontMin();
    }
}