@use '@styles/mixins' as mixins;

.about_me {
    height: 100%;
}
.link {
    font-weight: bold;
    position: relative;
    color: var(--themeColor);
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 0%;
        background-color: var(--themeColor);
        transition: all 0.2s linear;
    }
}
.link:hover {
    &::after {
        width: 100%;
    }
}
